[Desktop Entry]
Type=Application
Exec=aptosid-irc
Icon=aptosid-irc
Name=aptosid-irc
Name[ru]=aptosid-чат
Name[uk]=aptosid-чат
GenericName=IRC Chat #aptosid
GenericName[de]=IRC Chat #aptosid
GenericName[ru]=Чат в канале #aptosid
GenericName[uk]=Чат в каналi #aptosid
Categories=Network;
