[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=sidux-irc
Icon=sidux-irc
Name=sidux-irc
GenericName=IRC Chat #sidux
GenericName[de]=IRC Chat #sidux
GenericName[ru]=Чат в канале #sidux
Categories=Network;
