[Desktop Entry]
Comment=
Comment[de]=
Encoding=UTF-8
Exec=sidux-irc
GenericName=
GenericName[de]=
Icon=sidux-irc
MimeType=
Name=IRC Chat #sidux
Name[de]=IRC Chat #sidux
Path=
ServiceTypes=
StartupNotify=true
SwallowExec=
SwallowTitle=
Terminal=false
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
